.Button-Cancle-Massage {
  margin-left: 10px;
}

.div-Area-Button-Massage {
  margin-left: 10px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 50%;
  display: inline;
  margin-right: 10px;
}

.Head-Page {
  margin-top: 100px;
}

.div-Area-Massage {
  width: 80%;

  margin-right: auto;
  margin-left: auto;
}
