.Body-forgetpassword {
  min-height: 100vh;
  width: 100%;
  background-image: url(../img/Wall.jpeg);
  background-size: cover;
}

.Container-forgetpassword {
  display: flex;
  width: 100%;
  background: white;
  text-align: center;
}

.div-Area-Forgetpassword {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.Area-Forgetpassword {
  position: fixed;
  display: flex;
  width: 33%;
  height: 100vh;
  background: white;
  right: 0px;
  top: 0px;
  line-height: 40px;
}

.img-logo-KU-Forgetpassword {
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
  width: 50px;
  height: 60px;
}

.h1-Forget-Password {
  color: #31726f;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
}

.Input-Forgetpassword {
  width: 80%;
  height: 35px;
  padding: 6px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background: rgb(228, 237, 255);
}

.Button-submit-Forgerpassword {
  width: 20%;
  height: 30px;
  background: #3f8f8b;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 25px;
  margin-right: 10px;
  border-radius: 5px;
}

.Button-Cancel-Forgetpassword {
  width: 20%;
  height: 30px;
  background: #3f8f8b;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 25px;
  border-radius: 5px;
}

.Comment-Forgetpassword {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  color: gray;
}

.Area-Button-Forgetpassword {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: end;
}

@media (max-width: 990px) {
  .Area-Forgetpassword {
    width: 100%;
  }

  .div-Area-Forgetpassword {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 800px) {
  .Area-Forgetpassword {
    width: 100%;
  }

  .div-Area-Forgetpassword {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {
  .Area-Forgetpassword {
    width: 100%;
  }

  .div-Area-Forgetpassword {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-logo-KU-Forgetpassword {
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
    width: 40px;
    height: 50px;
  }
}

@media (max-width: 400px) {
  .Area-Forgetpassword {
    width: 100%;
  }

  .div-Area-Forgetpassword {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-logo-KU-Forgetpassword {
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
    width: 40px;
    height: 50px;
  }
}
