.Body-Toproject {
  width: 100%;
  height: 100vh;
}

.Container-Toproject {
  margin-top: 60px;
  width: 100%;
  min-height: 100vh;
  background: sandybrown;
}

.Menu-Bar-Toproject {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: green;
}

.Menu-Bar-Toproject li {
  float: left;
}

.Menu-Bar-Toproject li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Button-Edit-Pencil {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin-left: 10px;
}

#Edit-Pencil {
  font-size: 18px;
}

.Input-Project-Name-toProject {
  width: auto;
  height: 20px;
  margin: 2px;
}

.Input-Project-Description-toProject {
  width: auto;
  height: 20px;
  margin: 2px;
}

.Button-Menu-to-Project {
  color: white;
  margin-left: 5px;
  height: 30px;
  width: auto;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 3px;
}

.Button-Menu-to-Project:hover {
  background: black;
}
